@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-inter: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-inter);
}
